{% extends 'nav_worker.html' %}
{% load humanize %}
{% block title %} แสดงงานซ่อม {% endblock %}
{% block import %}
<style>
  @media screen and (min-width: 400px) {
  .respon {
    width: 45%;
  }
}

@media screen and (min-width: 800px) {
  .respon {
    width: 32%;
  }
}
</style>

{% endblock %}

{% block content %}
<section>
  <div class="container">
    <div class="row my-5" >
      <div class="col-12">
        <h2 class="mb-4">หน้าแสดงงานช่าง</h2>
        <div class="row">
          {% for i in work %}
          <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title pb-2">ชื่อลูกค้า: {{i.work_request.firstname}} {{i.work_request.lastname}}</h5>
                <p class="card-text">ชื่อในระบบ : {{i.work_request.customer}}</p>
                <p class="card-text">สถานะ : {{i.get_status_display}}</p>
                <p class="card-text">วันที่: {{i.start_date | date:"d / m / Y"  }}</p>
                <p class="card-text">เวลา: {{i.start_date | date:"H:i"}}</p>
                <div>
                  <a href="{%url 'work_detail' i.id %}" class="btn btn-primary">รายละเอียด</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}