{% extends 'nav_worker.html' %}

{% block import %}
<style>
    p{
        margin-bottom: 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="my-5 table-responsive-md">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>รหัส</th>
                    <th>อะไหล่</th>
                    <th>ยี่ห้อ</th>
                    <th>ครบกำหนด</th>
                    <th>สถานะ</th>
                    <th style="width: 20%;"></th>
    
                </tr>
            </thead>
            <tbody>
                {% for i in assign %}
                {%if i.status == "4" or i.status == "5" %}
                <tr class="table-danger">
                {% elif i.status == "3" %}
                <tr class="table-success">
                {% else %}
                <tr>
                {% endif %}
                    <td>{{i.id}}</td>
                    <td>{{i.work_request.car_part}}</td>
                    <td>{{i.work_request.car_brand}}</td>
                    <td>{{i.end_date |date:"d/m/Y"}}</td>
                    <td>{{i.get_status_display}}</td>
                    <td><a href="{%url 'work_detail' i.id %}" class=" my-2 btn btn-primary">รายละเอียด</a></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
            <div class="d-flex justify-content-center my-5">
                <nav aria-label="...">
                    <ul class="pagination pagination-md">
                        {% for i in assign.paginator.page_range %}
                        {% if i != assign.number  %}
                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% else %}
                        <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </nav>
            </div>
    </div>
</div>

{% endblock %}