{% extends 'sidebar.html' %}

{% block content %}
<div class="my-5 mx-5 container" style="width: 100%;">
    <h1>จัดการสินค้า</h1>
    <div class="row ">
        <div>
            <a href="{%url 'product_create' %}" class="my-4 btn btn-primary"><i class="bi bi-plus-circle">&nbsp;</i>เพิ่มสินค้า</a>
        </div>
        
        <table class="table text-center">
            <thead class="table-dark">
                <tr>
                    <td>รหัสสินค้า</td>
                    <td></td>
                    <td style="width: 15%;">ชื่อสินค้า</td>
                    <td style="width: 15%;">แบรน</td>
                    <td style="width: 10%;">ราคา</td>
                    <td style="width: 10%;">คงเหลือ</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for i in product %}
                <tr>
                    <td style="width: 10%;">{{i.id}}</td>
                    <td style="width: 10%;" class=""><img src="{{i.picture.url}}" alt="image" style="width: 50px; height: 50px;"></td>
                    <td class="py-4">{{i.product_name}}</td>
                    <td class="py-4">{{i.brand}}</td>
                    <td class="py-4">{{i.price}}</td>
                    <td class="py-4">{{i.stock}}</td>
                    <td style="width: 15%;">
                        <div>
                            <a href="{%url 'product_update' i.id %}" class="my-2 btn btn-warning"><i class="bi bi-pencil-square">&nbsp;</i>แก้ไข</a>
                        </div>
                    </td>
                    <td style="width: 15%;">
                        <div>
                            <a href="{%url 'product_delete' i.id %}" class="my-2 btn btn-danger"><i class="bi bi-trash">&nbsp;</i>ลบสินค้า</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
    </div>
</div>

{% endblock %}
