{% extends 'sidebar.html' %}
{% block import %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

{% endblock %}



{% block content %}
    <!--Topside-->
<div class="px-5">
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        ยอดขายเดือนนี้
                    </div>
                        <div class="card-body row">
                            <div class="card col my-card text-center p-3 mx-3">
                                <h6>ยอดขาย <i class="fas fa-users"></i></h4>
                                <h3>{{this_month_sales.total_sales}}</h3>
                            </div>
                            <div class="card col my-card text-center p-3 mx-3">
                                <h6>ต้นทุนทั้งหมด <i class="fas fa-users"></i></h4>
                                <h3>{{this_month_cost.total_sales}}</h3>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-info text-white">
                        ข้อมูลต่างๆ
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{%url 'report_worker' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>ช่างซ่อม <i class="fas fa-users"></i></h4>
                                        <h3>{{worker}}</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{%url 'admin_product' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>สินค้า <i class="fas fa-box"></i></h4>
                                        <h3>{{product}}</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{%url 'dashboard' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>คำสั่งซื้อ <i class="fas fa-shipping-fast"></i></h4>
                                        <h3>{{order_count}}</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Topside-->

    <!--pie chart-->
    
    <div class="container">
        <div class="row my-5">
            <div class="col-md-4">
                <div class="bg-white">
                    <form method="get" action="">
                        <div class="row px-3 py-3">
                            <div class="col">
                                <label for="year">Year:</label>
                                <select class="form-control" name="year" id="year">
                                    <option value="{{now.year}}" hidden>{{now.year}}</option>
                                    {% for y in years_pie %}
                                        <option value="{{ y.year }}" {% if y.year|stringformat:"s" == selected_year_pie %}selected{% endif %}>
                                            {{ y.year }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <label for="month">Month:</label>
                                <select class="form-control" name="month" id="month">
                                    <option value="{{now.month}}" hidden>{{now|date:'M'}}</option>
                                    {% for m in months_pie %}
                                        <option value="{{ m.month }}" {% if m.month|stringformat:"s" == selected_month_pie %}selected{% endif %}>
                                            {{ m|date:"F" }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col py-4">
                                <button class="btn btn-info" type="submit">ยืนยัน    </button>
                            </div>
                        </div>
                    </form>
                      
                    <canvas id="myChart1" width="1250" height="1250"></canvas>
                    
                    <script>
                        var ctx = document.getElementById('myChart1').getContext('2d');
                        var myChart1 = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: [{%for i in this_month_product %} '{{i.product__product_name}}', {% endfor %}],
                                datasets: [{
                                    data: [{%for i in this_month_product %} {{i.total_sales}}, {% endfor %}],
                                    backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(255, 159, 64, 0.2)',
                                    'rgba(255, 205, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(201, 203, 207, 0.2)'
                                    ],
                                    borderColor: [
                                    'rgb(255, 99, 132)',
                                    'rgb(255, 159, 64)',
                                    'rgb(255, 205, 86)',
                                    'rgb(75, 192, 192)',
                                    'rgb(54, 162, 235)',
                                    'rgb(153, 102, 255)',
                                    'rgb(201, 203, 207)'
                                    ],
                                        borderWidth: 1
                                    }]
                                },
                            options: {
                                legend: {display: true},
                                title: {
                                    display: true,
                                    text: "ยอดขายของสินค้าทั้งหมด"
                                    }
                                }
                                });


                    </script>
                </div>
            </div>
            <!-- line-->
            <div class="col-md-8">
                <div class="bg-white">
                    <form method="get" action="">
                        <div class="row px-3 py-3">
                            <div class="col-10">
                                <label for="year">Year: </label>
                                <select class="form-control" name="year_line">
                                    <option value="{{now.year}}" hidden>{{now.year}}</option>
                                    {% for y in years_line %}
                                        <option value="{{ y.year }}" {% if y.year|stringformat:"s" == selected_year_line %}selected{% endif %}>
                                            {{ y.year }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="col py-4">
                                <button class="btn btn-info" type="submit">ยืนยัน</button>
                            </div>
                        </div>
                    </form>
                    <canvas id="myChart" width="1250" height="600"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart').getContext('2d');
                        var cost_dict = {};
                        var sale_dict = {};
                        {% for i in monthly_cost %}
                        cost_dict['{{i.month|date:'F'}}'] = {{i.total_cost}} ;
                        {% endfor %}
                        {% for i in monthly_sales %}
                        sale_dict['{{i.month|date:'F'}}'] = {{i.total_sales}} ;
                        {% endfor %}
                        var allMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                        var labels = [];
                        var linesale = [];
                        var linecost = [];

                        // Populate the arrays based on the dictionaries
                        for (var month of allMonths) {
                            labels.push(month);
                            linesale.push(sale_dict[month] || 0);
                            linecost.push(cost_dict[month] || 0);
                        }
                        
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'ยอดขายทั้งหมด',
                                    data: linesale,
                                    fill: false,
                                    borderColor: 'rgb(54, 162, 235)',
                                    tension: 0.1
                                },{
                                    label: 'ต้นทุนทั้งหมด',
                                    data: linecost,
                                    fill: false,
                                    borderColor: 'rgb(255, 99, 132)',
                                    tension: 0.1
                                },
                                
                            ]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: true
                                        }
                                    }]
                                }
                            }
                        });
                        
                    </script>
                </div>
            </div>     
        </div>
    </div>
    </div>
</div>


{% endblock %}