{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{%static 'images/logo.png' %}" type="image/x-icon">
    <style>
      body{
        background-color: #E3F2FD;
      }
    </style>
    {% block import %}

    {% endblock %}
</head>
<body>
    <section >
        <div class="d-flex" style="min-height: 100vh; max-height: 250vh;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; overflow-y: auto;">
            <img src="{%static 'images/logo.png' %}" alt="">
            <hr>
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Admin Panel</span>
          </a>
          <hr>
          <ul class="nav nav-pills flex-column mb-auto">
            {% if request.path == "/dashboard/report" %}
            <li class="nav-item">
              <a href="{%url 'dashboard' %}" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                <i class="bi bi-receipt-cutoff"></i>&nbsp;
                คำสั่งซื้อสินค้า
              </a>
            </li>

            {% elif order != none %}
            <li class="nav-item">
              <a href="{%url 'dashboard' %}" class="nav-link active" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                <i class="bi bi-receipt-cutoff"></i>&nbsp;

                คำสั่งซื้อสินค้า
              </a>
            </li>
            {% else %}
            <li class="nav-item">
              <a href="{%url 'dashboard' %}" class="nav-link text-white" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                <i class="bi bi-receipt-cutoff"></i>&nbsp;
                คำสั่งซื้อสินค้า
              </a>
            </li>
            {% endif %}
            {% if request.path == "/dashboard/report" %}
            <li>
              <a href="{%url 'work_display' %}" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                <i class="bi bi-wrench"></i>
                &nbsp;รายการส่งซ่อม
              </a>
            </li>
            {% elif worker != none %}
            <li>
              <a href="{%url 'work_display' %}" class="nav-link active">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                <i class="bi bi-wrench"></i>
                &nbsp;รายการส่งซ่อม
              </a>
            </li>
            {% elif request.get_full_path == "/dashboard/repair" %}
            <li>
              <a href="{%url 'work_display' %}" class="nav-link active">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                <i class="bi bi-wrench"></i>
                &nbsp;รายการส่งซ่อม
              </a>
            </li>
            {% else %}
            <li>
              <a href="{%url 'work_display' %}" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                <i class="bi bi-wrench"></i>
                &nbsp;รายการส่งซ่อม
              </a>
            </li>
            {% endif %}
            {% if assign != none %}
            <li>
              <a href="{%url 'assign_display' %}" class="nav-link active">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                <i class="bi bi-calendar-week"></i>&nbsp;
                งานทั้งหมด
              </a>
            </li>
            {% else %}
            <li>
              <a href="{%url 'assign_display' %}" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                <i class="bi bi-calendar-week"></i>&nbsp;
                งานทั้งหมด
              </a>
            </li>
            {% endif %}
            {% if request.path == "/dashboard/report" %}
            <li>
              <a href="{%url 'admin_product' %}" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                <i class="bi bi-box2"></i>&nbsp;
                จัดการสินค้า
              </a>
            </li>
            {% elif product != none %}
            <li>
              <a href="{%url 'admin_product' %}" class="nav-link active">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                <i class="bi bi-box2"></i>&nbsp;
                จัดการสินค้า
              </a>
            </li>
            {% else %}
            <li>
              <a href="{%url 'admin_product' %}" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                <i class="bi bi-box2"></i>&nbsp;
                จัดการสินค้า
              </a>
            </li>
            {% endif %}
            {% if users != none %}
            <li>
              <a href="{%url 'manage_user' %}" class="nav-link active">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                <i class="bi bi-person-plus-fill"></i>&nbsp;
                จัดการผู้ใช้
              </a>
            </li>
            {% else %}
            <li>
              <a href="{%url 'manage_user' %}" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                <i class="bi bi-person-plus-fill"></i>&nbsp;
                จัดการผู้ใช้
              </a>
            </li>
            {% endif %}
            <li>
              {% if request.path == "/dashboard/report" %}
              <li>
                <a href="{%url 'report' %}" class="nav-link active">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                  <i class="bi bi-clipboard-data"></i>&nbsp;
                  รายงานผล
                </a>
              </li>
              {% elif request.path == "/dashboard/report/worker" %}
              <li>
                <a href="{%url 'report' %}" class="nav-link active">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                  <i class="bi bi-clipboard-data"></i>&nbsp;
                  รายงานผล
                </a>
              </li>
              {% else %}
              <li>
                <a href="{%url 'report' %}" class="nav-link text-white">
                  <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                  <i class="bi bi-clipboard-data"></i>&nbsp;
                  รายงานผล
                </a>
              </li>
              {% endif %}

            </li>
          </ul>
          <hr>
          <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-circle me-2" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"></path>
              </svg>
              <strong>{{user}}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
              <li><a class="dropdown-item" href="{%url 'pos' %}">ระบบขายหน้าร้าน</a></li>
              {%if request.user.is_superuser %}
              <li><a class="dropdown-item" href="{%url 'home' %}">หน้าหลัก</a></li>
              <li><a class="dropdown-item" href="{%url 'work_calendar' %}">หน้า worker</a></li>
              {% endif %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{%url 'logout' %}">Sign out</a></li>
            </ul>
          </div>
        </div>
  
            {% block content %}
    
    
            {% endblock %}


      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>