{% extends 'navbar.html' %}
{% load humanize %}
{% load static %}
{% block content %}
{% if count <= 0 %}
<section class="container my-5" style="height:80vh;">
    <br><br><br><br>
    <div class="text-center" >
        <svg xmlns="http://www.w3.org/2000/svg" class="img-fluid" style="width: 200px; height: 200px; margin-left: auto; margin-right: auto" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <br>
        <h1 class="my-4"><strong>ไม่มีสินค้าในตะกร้า</strong></h1>
        <div class="mbr-section-btn pt-3">
            <a href="{% url 'home' %}" class="btn btn-primary display-4">
                &nbsp;
                เพิ่มสินค้าเลย&nbsp;
            </a>
        </div>
        <br><br>
    </div>
</section>
{% else %}
    <div class="container py-5 h-100 my-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px; background-color:#fafafa">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <!-- สินค้าในตะกร้า -->
                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                        <h4 class="fw-bold mb-0 text-black">รายการสั่งซื้อ</h4>
                                        <h6 class="mb-0 text-muted">{{count}} รายการ</h6>
                                    </div>
                                    {% for i in cartDetail %}
                                    <hr class="my-4">
                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img src="{{i.product.picture.url}}" class="img-fluid rounded-3">
                                        </div>
                                        
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <h6 class="text-black mb-0">{{i.product.product_name}}</h6>
                                        </div>
                            
                                        <div class="col-md-3 col-lg-2 col-xl-3">
                                            <h6 class="mb-0">{{ i.sum | intcomma }}</h6>   
                                        </div>
                                        <div class="col d-flex justify-content-end align-items-center">
                                            <a href="{%url 'pos_dec' i.id %}" class="btn btn-outline-dark btn-sm me-2"><i class="bi bi-dash"></i></a>
                                            <div type="text" class="form-control-sm"><div class="form-control">{{i.amount}}</div></div>
                                            <a href="{%url 'pos_inc' i.id %}" class="btn btn-outline-dark btn-sm ms-2"><i class="bi bi-plus"></i></a>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <a href="{%url 'delete_cart' i.product.id %}"><h5><i class="bi bi-trash3"></i></h5></a>
                                         </div>
                                        </div>
                                    <hr class="my-4">
                                    {% endfor %}
                                </div>
                            </div>
                
                            <div class="col-lg-5 bg-grey">
                                <div class="p-5">
                                    <h4 class="fw-bold mb-5 mt-0 pt-0">สรุปคำสั่งซื้อ</h4>
                                    <hr class="my-4">
                                    <div class="d-flex justify-content-between mb-2">
                                        <h5 class="text-uppercase">ยอดชำระเงินรวม</h5>
                                        <h5>{{total | intcomma}} บาท</h5>
                                    </div>
                                    <form action="{%url 'deliver' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="radio" id="send" name="deli_se" value="sendhome">
                                        <label for="send" class="mb-3">ส่งไปยังบ้านคุณ</label><small class="mx-2 text-danger">(ส่งเฉพาะภายในจังหวัดอุบลเท่านั้น)</small><br>
                                        <input type="radio" id="take" name="deli_se" value="pickup">
                                        <label for="take" class="mb-5">รับที่ร้าน</label><br>
                                            <button type="submit" class="btn btn-primary w-100 text-center" data-mdb-ripple-color="dark">
                                                ดำเนินการ
                                            </button>
                                      </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}