{% extends 'navbar.html' %}
{% load humanize %}
{%block content %}
    <section>
        <div class="container" style="margin-top: 10%;">
            <div class="mbr-section-head">
                <h4 class="mbr-section-title mbr-fonts-style align-start mb-0 display-2">
                    <strong>รหัสใบสั่งซื้อ #{{order.id}}</strong>
                </h4>
            </div>
            <div class="row my-5">
                {% if order.status == '3' or order.status == '4' %}
                <h4>จะได้รับสินค้าภายในวันที่</h4>
                <h3>{{early |date:'d /m /Y'}} - {{late |date:'d /m /Y'}}</h3>
                {% elif order.status == '1' or order.status == '2' %}
                <h4>ทำการสร้างออเดอร์เมื่อ</h4>
                <h3>{{order.created |date:'d /m /Y'}}</h3>
                {% elif order.status == '5' %}
                <h4>ทำการส่งเมื่อ</h4>
                <h3>{{order.complete |date:'d /m /Y'}}</h3>

                {% elif order.status == '7' or order.status == '8' %}
                <h4>ถูกยกเลิกเมื่อ</h4>
                <h3>{{order.update |date:'d /m /Y'}}</h3>
                {% endif %}
                <table class="table text-center table-bordered my-5">
                    <thead>
                      <tr>
                        <th scope="col">ชื่อสินค้า</th>
                        <th scope="col">ราคา</th>
                        <th scope="col">จำนวน</th>
                        <th scope="col">รวม</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for i in orders %}
                        <tr>
                            <td>{{i.product}}</td>
                            <td>{{i.price | intcomma }}</td>
                            <td>{{i.amount}} ชิ้น</td>
                            <td>{{i.sum | intcomma}}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong>ยอดชำระเงิน</strong></td>
                            <td><strong>{{ order.total |intcomma}}</strong></td>
                        </tr>     
                    </tbody>
                  </table>
            </div>
        </div>
        <br><br><br><br><br>
    </section>
    {% endblock %}
