{% extends "navbar.html" %}
{% load humanize %}

{% block title %}
หน้าแรก
{% endblock %}

{% block content %}

<h1 class="text-center mb-4" style="margin:10px;">สินค้าทั้งหมด</h1>
<div class="container">
    <div class="row">
    {% for i in product %}
      <div class="col-sm mb-3">
        <div class="card" style="width: 18rem; height: 30rem;">
          <a href="{%url 'detail' i.id %}">
            <img class="card-img-top " src="{{i.picture.url}}" alt="product" style="height: 18rem;"></a>
            <div class="card-body text-center">
              <h5 class="card-title">ชื่อสินค้า: {{i.product_name}}</h5>
              <p class="card-text">ราคา: {{i.price | intcomma}} บาท</p>
              {% if i.stock <= 0 %}
              <br>
              <h2 style="color: red;">สินค้าหมด</h2>
              {% else %}
              <p class="card-text">จำนวนคงเหลือ: {{i.stock}}</p>
              <a href="{%url 'addcart' i.id %}" class="btn btn-primary" style="background-color: #a4db74; color:black">เพิ่มลงตระกร้า</a>
              {% endif %}
            </div>
          </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}