.custom {
    background-color: #fff;
    width: 35%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
  }

  .cid-tsJ8wGtENs {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
  }
  .cid-tsJ8wGtENs .mbr-overlay {
    background-color: #ffffff;
    opacity: 0.4;
  }
  .cid-tsJ8wGtENs form.mbr-form {
    border-radius: 10px;
    background-color: #fafafa;
  }