{% extends 'navbar.html' %}
{% load static %}
{%block title %}สร้างโปรไฟล์{% endblock %}
{% block import %}
<style>
  @media (min-width: 720px) {
  .test {
    width: 50%;
  }
}
</style>
{% endblock %}

{% block content %}
<div class="container-sm py-5 test">
  <div class="card py-5 px-5">
    <div class="d-flex justify-content-center">
      <h2>โปรไฟล์ผู้ใช้</h2>
    </div>
        <div class="d-flex justify-content-center">
            <form class="row g-3" method="POST" action="{%url 'user_profile' %}" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="d-flex justify-content-center my-3 py-3" id="sample_img">
                  <div class="btn-group gap-5" role="group" aria-label="Basic radio toggle button group">
                    <label class="btn btn-outline-dark rounded-1" for="btnradio1" style="width: 14rem;">
                        <img src="{{form.instance.image.url}}" alt="" style="width: 100%;">
                    </label>
                  </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div id="imagePreview" class="mt-2 " style="width: 14rem;"></div>
                </div>
                
                <label for="user_avatar"></label>
                <input class="form-control" type="file" id="image" name="image" accept="image/*" onchange="previewImage(event)">      

                <div class="col-md-6">
                  <label for="firstname" class="form-label">ชื่อ</label>
                  <input type="text" class="form-control" name="firstname" id="firstname" value="{{form.instance.firstname}}">
                </div>
                <div class="col-md-6">
                  <label for="lastname" class="form-label">นามสกุล</label>
                  <input type="text" class="form-control" name="lastname" id="lastname" value="{{form.instance.lastname}}">
                </div>
                <div class="col-md-12">
                  <label for="lastname" class="form-label">เบอร์โทรศัพท์</label>
                  <input type="text" class="form-control" name="phone" id="phone" value="{{profile.phone}}">
                  <small class="text-secondary">กรอกตามที่ลงทะเบียนเพื่อดูสถานะการแจ้งซ่อม</small>
                </div>
                
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">ที่อยู่</label>
                    <input type="text" name="address" value="{{profile.address}}" class="form-control">
                </div>
                <div class="col-12 py-3">
                  <button type="submit" class="btn btn-primary">ยืนยัน</button>
                </div>
              </form>
        </div>
    </div>
  </div>
</div>
<script>
    function previewImage(event) {
        const preview = document.getElementById('imagePreview');
        const file = event.target.files[0];
        const reader = new FileReader();

        reader.onloadend = () => {
            const img = document.createElement('img');
            img.src = reader.result;
            img.classList.add('mt-2','rounded');
            img.style.cssText += 'width:100%';
            preview.innerHTML = '';
            preview.appendChild(img);
            const sample = document.getElementById("sample_img");
            sample.remove();
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.innerHTML = '';
        }
    }
</script>
{% endblock %}